.wrapper{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 15px 0px;
    gap: 40px;
}
.sec1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px 85px;
    gap: 15px;

}
.sec1 h3{
    font-size: 50px;
    padding: 0%;
    margin: 0%;   
}

.para{
    font-size: x-large;
}
.sec2 img{
   padding: 10px;
   width: 675px;
}

@media only screen and (max-width: 1200px) {
    .wrapper{   
        align-items: center;
        flex-direction: column-reverse;
        margin: 15px 0px;
    }
    .sec1{
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin: 0px 10px;
    
    }
    .sec2 img{
        padding: 10px;
        width: 350px;
     }
  }