.holder{
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content:center;
    align-items: center;
    background-image: url('../images/bg-shorten-desktop.svg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100px;
    background-color:hsl(260, 31%, 46%);
    margin: 0px 20%;
    border-radius: 0.75rem;
}
.id{
    width: 500px;
    height: 35px;
    background-color: aliceblue;
    border-radius: 0.55rem;
    border: none ;
    color: black;
    font-family:"Times New Roman", Times, serif;  
   font-size: 25px;
}
.details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px 20%;
}
.details p{
    font-size: large;
    margin: 0px 20%;
    text-align: center;
}